.hidden-link {
  color: black;
  text-decoration: none;
}

#canvas::selection {
    background:transparent;
}

#canvas::-moz-selection {
    background:transparent;
}

#canvas::-webkit-selection {
    background:transparent;
}

#canvas {
   margin: 0;
   padding: 0;
   border: 0px none;
   clear: both;

  -webki t-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvas_container {
	position: relative;
	margin: auto;
}

.canvas_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	display: table;
}

.click_to_start {
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.click_to_start .huge {
	font-size: 4em;
	font-weight: bold;
	text-decoration: underline;
	display: block;
}

.canvas_overlay .loader {
  background: url(../img/loading.gif) no-repeat center center;
  cursor: progress;
  vertical-align: middle;
  text-align: center;
  display: none;
}

.loader .info {
  position: relative;
  top: 150px;
  width: 500px;
  margin: 0 auto;
}

.loader .status {
  font-size: 2em;
  margin-bottom: 15px;
}

.loader .progressbar {
}

.ui-dialog {
  overflow: visible;
}

.login_modal {
  display: none;
  overflow: visible !important;
}

p.social {
  margin: 0;
  font-size: 0.9em;
}

form.login label {
  display: block;
  overflow: hidden;
}

form.login input {
  width: 100%;
  font-size: 1.5em !important;
}

form.login div.input {
  padding-left: .2em;
  margin-bottom: 10px;
}

form.register label {
  display: block;
  overflow: hidden;
}

form.register input {
  width: 300px;
  font-size: 1.5em !important;
}

form.register div.input {
  padding-left: .2em;
  margin-bottom: 10px;
}


.progress_modal {
  background: rgba(255, 255, 255, 0.5) url(../img/loading.gif) no-repeat center center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
}

.adsense {
  margin: auto;
  width: 970px;
}


.footer {
  margin-top: 15px;
  padding: 0 15px;
  background-color: rgba(238, 238, 238, 1);
  height: 50px;
  line-height: 50px;
}

.navbar {
  background-color: rgba(238, 238, 238, 1);
  height: 50px;
  line-height: 50px;  
  margin: 15px auto;
}

.navbar .navbar-content {
  width: 970px;
  margin: 0 auto;
}

.navbar a.en {
  display: block;
  width: 25px;
  height: 50px;
  display: block;
  background: url("../img/en.png") center center no-repeat;
}

.navbar a.ru {
  display: block;
  width: 25px;
  height: 50px;
  display: block;
  background: url("../img/ru.png") center center no-repeat;
}

.navbar .login {
  /*margin-right: 15px;*/
}

.navbar .share {
  margin-left: 30px;
  border-left: 1px solid #CCC;
  padding-left: 5px;
}

.navbar .home {
  margin-right: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.margin-bottom {
  margin-bottom: 30px;
}

.game_container {
  padding: 15px;
}

.game_container:hover {
  background: rgba(238, 238, 238, 1);
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 2px rgba(200,200,200,.7);
  -webkit-box-shadow: 2px 2px 2px rgba(200,200,200,.7);
  box-shadow: 2px 2px 2px rgba(200,200,200,.7);
}

.game_container a {
  text-decoration: none;
  color: black;
}

.game_description {
  padding-left: 220px;
  min-height: 60px;
}

.game_play_link {
  margin-top: 10px;
  text-decoration: underline !important;
  color: blue;
  font-size: 1.5em;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.game_play_link a {
  color: blue;
}

.wiki {
  color: #333;
  margin-top: 5px;
}

.more {
  color: #00F;
  margin: 5px 0 0 0;
  text-decoration: underline;
}

.more small {
  font-size: 0.9em;
}

.display_none {
  display: none;
}

div.error {
  background: rgb(255, 187, 187);
  display: inline-block;
  padding: 15px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.fatal {
  font-size: 1.5em;
  color: red;
}

.registration_error {
  background: rgb(255, 200, 200);
  padding: 5px;
  border-radius: 5px;
}

.powered {
  margin-top: 15px;
}

span.powered {
  font-weight: bold;
}

.donate-form {
  margin-right: 30px;
  border-right: 1px solid #CCC;
  padding-right: 5px;
  display: inline-block;
}

.game-description {
  padding-right: 25px;
}

.game-description li {
  padding-top: 15px;
}

.play-button {
  background: rgba(208, 208, 255, 1);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;

  width: 100%;

  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}

.play-button:hover {
  background: rgba(178, 255, 178, 1);
}

.play-on-phone-link {
  margin-top: 10px;
  background: #FFF;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;

  width: 100%;

  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}

.play-on-phone-link:hover {
  background: rgba(178, 255, 178, 1);
}

.default-link {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  font-size: 1em;
}

.default-link:before {
  content: ">";
  display: block;
  float: left;
  width: 10px;
  color: #333;
  font-weight: bold;
  margin-left: -10px;
}

a.gray-link, a.gray-link:visited {
  color: #333;
}

a.dotted-link {
  border-bottom: 1px dotted #333;
  text-decoration: none;
}

.screenshots {
  margin: 10px;
}

.screenshots img {
  margin-top: 10px;
  opacity: 0.7;
  width: 225px;

  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.screenshots img:hover {
  opacity: 1;
}

/* openxcom */

.openxcom {
	width: 960px;
	height: 600px;
	background: url(../xcom/canvas_bg.jpg) center center;
}

.openxcom canvas {
  cursor: none;
	width: 960px;
	height: 600px;
}

.game_description_openxcom {
  background: url(../xcom/game-logo.png) left center no-repeat;
}

.openxcom_eula, .dialog {
  display: none;
}

.openxcom_eula label {
  display: block;
  font-weight: bold;
}

.openxcom_eula input, .dialog input {
  display: block;
  width: 600px;
  font-size: 1.2em;
  padding: 5px;
}

.openxcom_eula .label {
  margin-bottom: 5px;
}

.openxcom_eula .data_link {
  background: rgb(200, 255,200);
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  border: 1px dashed black;
  margin-bottom: 5px;
  text-align: center;
}

.dialog .label, .dialog label  {
  display: block;
  font-weight: bold;
  margin: 2px 0;
}

.select-file-dialog-saves {
  max-height: 150px;
  overflow: auto;
}

.select-file-dialog-saves {
  margin: 0;
  padding: 5px 0;
  background: #F0F0F0;
  border: 1px solid #CCC;
}

.select-file-dialog-saves span {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.select-file-dialog-saves li {
  padding: 0;
  margin: 4px 0px 0px 20px;
  list-style-type: none;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/* opendune */

.game_description_opendune {
  background: url(../dune2/dune2.png) left center no-repeat;
}

.opendune, .opendune-ru, .opendune-en {
  width: 600px;
  height: 400px;
  background: url(../dune2/canvas_bg.jpg) no-repeat center center;
}

.opendune canvas {
  cursor: default;
  width: 600px;
  height: 400px;
}

.opendune-toggle-sound {
  width: 32px;
  height: 32px;
  margin: 15px auto;
  cursor: pointer;
  display: none;
}

.opendune-mute {
  background: url(/dune2/mute.png);
}

.opendune-unmute {
  background: url(/dune2/unmute.png);
}

.opendune-house-container {
  margin: 0 auto;
  width: 510px;
}

.opendune-house {
  float: left;
  width: 124px;
  height: 136px;
  display: block;
  cursor: pointer;
  padding: 0 20px 30px 20px;
  margin: 0;

  opacity: 0.5;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}

.opendune-house:hover {
  opacity: 1.0;
}

.opendune-h-house {
  background: url("/dune2/h_house.png") no-repeat center center;
}

.opendune-a-house {
  background: url("/dune2/a_house.png") no-repeat center center;
}

.opendune-o-house {
  background: url("/dune2/o_house.png") no-repeat center center;
}

.opendune-select-house {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}

/* openttd */

.game_description_openttd {
  background: url(../ttd/ttd.png) left center no-repeat;
} 