.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #1A1A1A;
}

.navbar-custom .navbar-brand {
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #00CCFF;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #00CCFF;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #1A1A1A;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

header {
    padding: 60px 0 30px 0;
}

.section-divider {
    float: left;
    width: 100%;
    background-color: rgb(237, 237, 240);
    height: .188em;
    margin-top: .313em;
}

.icon {
    padding: 10px;
    background-color: #1F5497;
}

.main-image img {
    padding: .0 0 .8em 0;
}

.small-image {
    width: 71px;
    height: 40px;
}

footer {
    margin-top: 1em;
}

.footer-content {
    margin-top: 1.5em;
}

.color-gray {
    color: gray;
}

.other-game {
    margin-bottom: 10px;
}

.other-game img {
    margin-right: 10px;
}

.other-game-section-divider {
    margin-bottom: 10px;
}