header {
    padding: 60px 0 30px 0;
}

.section-divider {
    float: left;
    width: 100%;
    background-color: rgb(237, 237, 240);
    height: .188em;
    margin-top: .313em;
}

.icon {
    padding: 10px;
    background-color: #1F5497;
}

.main-image img {
    padding: .0 0 .8em 0;
}

.small-image {
    width: 71px;
    height: 40px;
}

footer {
    margin-top: 1em;
}

.footer-content {
    margin-top: 1.5em;
}

.color-gray {
    color: gray;
}

.other-game {
    margin-bottom: 10px;
}

.other-game img {
    margin-right: 10px;
}

.other-game-section-divider {
    margin-bottom: 10px;
}